<section xmlns:th="http://www.thymeleaf.org" th:fragment="content">
    <div class="card" style="max-width:720px">
        <h3 style="margin-top:0">Thêm sản phẩm chi tiết</h3>

        <div th:if="${error}" class="alert error" th:text="${error}"></div>

        <form th:action="@{/admin/product-detail/save}" method="post" style="display:grid;gap:10px"  onsubmit="return validatePrice()">



            <label>Sản phẩm</label>
            <select class="input" name="sanPhamId" required>
                <option value="">-- Chọn --</option>
                <option th:each="p : ${products}" th:value="${p.id}" th:text="${p.tenSanPham}"></option>
            </select>

            <label>Kích cỡ</label>
            <select class="input" name="kichCoId" required>
                <option value="">-- Chọn --</option>
                <option th:each="s : ${sizes}" th:value="${s.id}" th:text="${s.tenKichCo}"></option>
            </select>

            <label>Màu sắc</label>
            <select class="input" name="mauSacId" required>
                <option value="">-- Chọn --</option>
                <option th:each="c : ${colors}" th:value="${c.id}" th:text="${c.tenMau}"></option>
            </select>

            <label>Giá nhập</label>
            <input class="input"
                   type="number"
                   step="0.01"
                   min="1"
                   name="giaNhap"
                   required>

            <label>Giá bán</label>
            <input class="input"
                   type="number"
                   step="0.01"
                   min="1"
                   name="giaBan"
                   required>

            <label>Số lượng</label>
            <input class="input"
                   type="number"
                   min="0"
                   name="soLuong"
                   required>


            <input type="hidden" th:if="${_csrf != null}"
                   th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

            <div style="display:flex;gap:10px">
                <button class="btn success" type="submit">Lưu</button>
                <a class="btn" th:href="@{/admin/product-detail}">Quay lại</a>
            </div>
        </form>
    </div>
    <script>
        function validatePrice() {
            const giaNhap = parseFloat(document.querySelector('[name="giaNhap"]').value);
            const giaBan = parseFloat(document.querySelector('[name="giaBan"]').value);

            if (giaBan <= giaNhap) {
                alert("Giá bán phải lớn hơn giá nhập");
                return false;
            }
            return true;
        }
    </script>
</section>